body {
  font-family: sans-serif;
  font-size: 14px;
}

ul.inline-list li {
  /* display: inline; */
  color: red;
  display: list-item;
  float: left;
}

/* li.inline-list {
  display: inline;
  list-style-type: circle;
} */

ul {
  overflow: auto;
}
