
ul.inline-list li {
  /* display: inline; */
  display: list-item;
  float: left;
  margin: 10px;
}

/* li.inline-list {
  display: inline;
  list-style-type: circle;
} */

ul {
  overflow: auto;
}

h2 {
  font-size: 16.8px;
  font-weight: bold;
}

h1 {
  font-size: 22.68px;
}

.sidebar {
  font-size: 12px;
}

.ending {
  font-size: 12px;
}

.no-bullet {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.subhead-filler {
  margin-top: 8.4px;
  margin-bottom: 8.4px;
  padding-left: 6.72px;
  padding-right: 6.72px;
  padding-top: 3.36px;
  padding-bottom: 3.36px;
}

.header {
  margin: 4px 0px 0px;
  padding: 0px 7px 7px;
}